# Visual Studio
.vs/
**/.vs/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Build folders
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
packages/